// ion-icon{
//     font-size: 30px;
//     padding: 10px;
// }
img{
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
  }

ion-footer{
    ion-toolbar{
        padding: 0 3px;
        ion-textarea{
            border: 1px solid var(--ion-color-none);
            border-radius: 20px;
            margin: 0.5vh 0;
        }
    }
}

#songInfo{
    padding: 7px;
}

#comment {
    text-align: center;
    size: 15px;
    padding: 2px;
}