<ion-toolbar>
  <ion-icon name="chevron-back-outline" routerLink="/home"></ion-icon>
</ion-toolbar>

<ion-content [scrollEvents]="true">
<div  *ngIf="spotifyUrl" id="songInfo">
<iframe [src]="spotifyUrl" width="100%" height="352" allowfullscreen [frameBorder]="0" allow="encrypted-media"></iframe>
</div>
</ion-content>
<h2>Comments</h2>
<div *ngFor="let comment of comments">
  <p id="comment"> {{ comment.username }}: {{ comment.description }}</p>
  <ion-button routerLink="/profile/{{comment.username}}" color="darkblue">
    <ion-icon name="person-outline"></ion-icon>
  </ion-button>
  <div *ngIf="comment.username == currentUser.username">
    <!-- <ion-button (click)="prompt(comment)">Edit</ion-button>
    <ion-button (click)="deleteComment(comment.commentID!)">Delete</ion-button> -->
    <!-- <ion-button (click)="prompt(comment)">Edit</ion-button>
    <ion-button (click)="deleteComment(comment.commentID!)">Delete</ion-button> -->

    <ion-button (click)="prompt(comment)" color="secondary">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="deleteComment(comment.commentID!)" color="danger">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>


  </div>
</div>

<ion-footer>
  <!-- <ion-toolbar>
    <ion-input autoGrow rows="1" placeholder="What do you think of this song?" class="ion-text-center" [(ngModel)]="comment.description">
    </ion-input>
    <ion-buttons slot="end">
      <ion-fab-button size="small" (ngSubmit)="createComment()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar> -->

  <form #form="ngForm" (ngSubmit)="createComment()">
    <input placeholder="What do you think of the song" type="text" name="description" [(ngModel)]="comment.description">
    <input [hidden]="true"  type="text" name="username" [(ngModel)]="comment.username">
    <input [hidden]="true"  type="text" name="songId" [(ngModel)]="comment.songId">

    <ion-button type="submit">Post</ion-button>
  </form>
</ion-footer>
