ion-footer{
    ion-toolbar{
        padding: 0 3px;
        ion-textarea{
            border: 1px solid var(--ion-color-none);
            border-radius: 20px;
            margin: 0.5vh 0;
        }
    }
}

#songInfo{
    padding: 7px;
}

@media(max-width:576px) {
    .profileButton {
        width: 100%;
    }
}