<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="loginWithSpotify()">Log in with Spotify</ion-button>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true" placeholder="Search Music" (keyup)="searchArtist()"
    [(ngModel)]="searchStr"></ion-searchbar>

  <ul>
    <li>Images: <span id="images"></span></li>
    <li>Track Name: <span id="name"></span></li>
    <li>Followers: <span id="followers"></span></li>
  </ul>
  <iframe style="border-radius:12px"
    src="https://open.spotify.com/embed/track/6tNQ70jh4OwmPGpYy6R2o9?utm_source=generator" width="100%" height="352"
    frameBorder="0" allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


  <div class="songlist">
    <ion-button (click)="getToken()">Get Token</ion-button>
    <ion-button (click)="fetchProfile() ">Profile</ion-button>
    <ion-button (click)="saveToken()">Save Token</ion-button>
    <ion-button (click)="refreshToken()">Refresh Token</ion-button>



  </div>

</ion-content>