<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-justify-content-center" size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>   
    <form>
      <ion-item class="formItem">
        <ion-input type="text" fill="solid"
        label="Username" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>
  
      <ion-item class="formItem">
        <ion-input type="password" label="Password" labelPlacement="floating" placeholder="Enter Password"></ion-input>
      </ion-item>
  
      <div>
        <ion-button class="formItem" shape="round">Login</ion-button>
        <br>
        <a>Sign Up</a>
      </div>
  
    </form>
  </ion-list>

</ion-content>
