ion-avatar {
    width: 125px;
    height: 125px;
}

.descWrapper {
  // border: 5px solid #006D77;
  // border-radius: 2cap;
}

.profileDesc {
  // padding-left: 2px;
  margin: 0;
}

.birthdate {
  padding-bottom: 1;
}

ion-img{
  border: 5px solid #EDF6F9;
}

.profilePic{
  background-color: #83C5BE ;
  border-radius: 5px;
}

#details{
 color:#006D77;
}

#details2{
  color: #83C5BE;
}