<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="2" style="display: flex; justify-content: center" class="profilePic">
        <ion-avatar class="image">
          <ion-img class="image" src="{{presentUser.profilePhoto}}"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="12" size-md="9.5" class="descWrapper">
        <ion-item>
          <h3 class="profileDesc">{{presentUser.username}} </h3>
        </ion-item>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>More about {{presentUser.username}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" >
              <ion-item id="details">
                <h4 class="profileDesc birthdate">Birthday: {{presentUser.birthdate}}</h4>
              </ion-item>
              <ion-item id="details2">
                <h5 class="profileDesc">About: {{presentUser.description}}</h5>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Comments</h1>
        <ion-list>
          <ion-item *ngFor="let c of userComments">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <h4>song</h4>
                </ion-col>
                <ion-col size="7">
                  <p>{{c.description}}</p>
                </ion-col>
                <ion-col size="1">
                  <p>{{c.postedAt}}</p>
                </ion-col>
                <ion-col size="1">
                  <ion-button (click)="prompt(c)">Edit</ion-button>
                  <ion-button (click)="deleteComment(c.commentID!)">Delete</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>