<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="2" style="display: flex; justify-content: center">
        <ion-avatar class="image">
          <ion-img class="image" src="{{presentUser.profilePhoto}}"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="12" size-md="9.5" class="descWrapper">
        <h1 class="profileDesc">{{presentUser.username}}</h1>
        <ion-note>
          <p class="profileDesc birthdate">Born: {{presentUser.birthdate}}</p>
          <h3 class="profileDesc">About</h3>
          <p  class="profileDesc">{{presentUser.description}}</p>
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list-header>Comments</ion-list-header>
        <ion-list>
          <ion-item *ngFor="let c of userComments">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <h4>song</h4>
                </ion-col>

                <ion-col size="7">
                  <p>{{c.description}}</p>
                </ion-col>

                <ion-col size="2">
                  <p>{{c.postedAt}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>