ion-avatar {
    width: 125px;
    height: 125px;
}

.descWrapper {
  border: 2px groove white;
  border-radius: 2cap;
}

.profileDesc {
  padding: 1%;
  margin: 0;
}

.birthdate {
  padding-bottom: 1;
}